.mug {
    pointer-events: none;
    padding-bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
    .mug {
        animation: mug-bounce infinite 1.1s;
    }
}

@keyframes mug-bounce {
    0% {
        transform: translate(0, -1em);
    }
    50% {
        transform: translate(0, 1em);
    }
    100% {
        transform: translate(0, -1em);
    }
}
